html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
#part1-footer {
  background-color: #2c3e50;
}
nav p {
  font-size: xx-large;
}
nav a {
  font-weight: 700;
  text-decoration: none;
}
.imagehead {
  width: 300px;
}
/* --- */
nav p,
nav a,
h1,
.section1 hr,
.section1 p,
.section3 h2,
.section3 hr,
.section3 p,
.bouton,
#part1-footer h3,
#part1-footer p,
#part1-footer i,
#part2-footer p {
  color: #ffffff;
}
.section1 {
  padding-top: 100px;
}
.para {
  padding-bottom: 50px;
}
.section1,
.section3,
.bouton {
  background-color: #1abc9c;
}
hr {
  width: 200px;
  font-weight: bolder;
}
/* ---- */
.section2 p,
.section2 hr,
.star2 {
  color: rgb(44, 62, 80);
}
.section2 img {
  width: 400px;
  border-radius: 10px;
}
.bouton {
  width: 100px;
}
.sectioncontact .form-control {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #ced4da;
}
/* --- */
#part1-footer a {
  color: #1abc9c;
}
/* ----- */
#part2-footer {
  background-color: #1a252f;
}
